.guid-container {
    display: flex;
    flex-direction: column;
    &__guid {
        width: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
        background: none;
        color: $white-text-color;
        font-weight: lighter;
        resize: none;
        border: none;
        font-size: x-large;
        cursor: pointer;
        &:hover {
            text-shadow: 
                0 0 0 whitesmoke,
                0.5px 0px 0.5px whitesmoke,
                0px 0px 0px whitesmoke,
                0.5px 0px 0.5px whitesmoke;
        }
    }
    &__button-container {
        display: flex;
        .button {
            width: 145px;
            height: 45px;
            background: no-repeat;
            border: 1px solid $white-text-color;
            color: $white-text-color;
            cursor: pointer;
            font-size: 16px;
        }
        .message {
            font-size: x-large;
            margin-left: 90px;
            &--copy {
                cursor: pointer;
            }
        }
    }
}

@media only screen 
        and (max-width: $media-query-max-width-landscape)
        and (orientation : landscape) {
            .guid-container {
                width: unset;
                margin-right: 15%;
                margin-right: unset;
                margin-top: 20px;
                span {
                    font-size: 20px;
                    margin-top: 10px;
                }
                &__guid {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-size: 20px;
                }
                &__button-container {
                    display: flex;
                    .button {
                        width: 145px;
                        height: 35px;
                        font-size: 12px;
                    }
                    .message {
                        font-size: 14px;
                        margin-left: 60px;
                    }
                }
            }
        }

@media only screen 
    and (max-width: $media-query-max-width-portrait)
    and (orientation : portrait) {
        .guid-container {
            margin-right: 15%;
            margin-right: unset;
            max-width: 100%;
            margin-top: 30px;
            span {
                font-size: 18px;
                margin-top: 10px;
                text-align: center;
            }
            &__guid {
                width: unset;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 16px;
            }
            &__button-container {
                align-items: center;
                flex-direction: column-reverse;
                .button {
                    width: unset;
                    height: 30px;
                    font-size: 12px;
                    margin-top: 20px;
                }
                .message {
                    height: 30px;
                    font-size: 12px;
                    margin-left: unset;
                }
            }
        }
    }