.home {
    display: flex;
    justify-content: space-between;
    padding: 70px 50px 0 70px;
    font-size: 34px;
    flex-wrap: wrap;
    .welcome-message {
        margin-right: 60px;
    }
}

@media only screen 
        and (max-width: $media-query-max-width-landscape)
        and (orientation : landscape) {
            .home {
                padding: 0 0 0 50px;
                max-width: 100vw;
                .welcome-message {
                    margin-right: unset;
                    font-size: 20px;
                }
            }
            
        }
@media only screen 
    and (max-width: $media-query-max-width-portrait)
    and (orientation : portrait) {
        .home {
            padding: 0;
            justify-content: center;
            .welcome-message {
                margin-right: unset;
                text-align: center;
                font-size: 22px;
            }
        }
    }