.navbar {
    display: flex;
    align-self: flex-start;
    height: 50px;
    margin-left: 50px;
    padding: 20px;
    &__item {
        margin-right: 20px;
        cursor: pointer;
    }
}

@media only screen 
        and (max-width: 850px)
        and (orientation : landscape) {
            .navbar {
                height: unset;
                margin-left: unset;
                padding-left: 50px;
            }
            
        }

@media only screen 
    and (max-width: 400px)
    and (orientation : portrait) {
        .navbar {
            justify-content: center;
            height: unset;
            margin-left: unset;
            padding-left: 50px;
        }
    }