  
@import './variables.scss';
@import './components/navbar/navbar.scss';
@import './components/home/home.scss';
@import './components/guid-container/guid-container.scss';
@import './components/buy-me-a-coffee/buy-me-a-coffee.scss';
@import './components/buy-me-a-coffee/buy-me-a-coffee.scss';
@import './components/patreon/patreon.scss';
@import './components/footer/footer.scss';
@import './components/welcome/welcome.scss';
@import './components/about/about.scss';

.App {
    background-image: url(lamp.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text-color;
    font-weight: lighter;
}

